.detail-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #5c9ead;
  padding: 5em;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-headshot {
  border: 1em solid whitesmoke;
  height: 25em;
  width: 25em;
}

.pet-details {
  background-color: #f4f1de;
  border: 2px double black;
  border-radius: 0.3em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 1em;
  width: 30em;
}

.pet-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Large Monitors */
/* @media (min-device-width: 1025px) {
} */

/* Tablets, iPads, and Kindles */
@media (max-device-width: 1024px) and (min-device-width: 415px) {
  .pet-headshot {
    height: 16em;
    width: 16em;
  }

  .pet-details {
    margin: 0em 1em 1em 1em;
    padding: 1em;
    width: 25em;
  }
}

/* Mobile Devices */
@media (max-device-width: 414px) and (min-device-width: 320px) {
  .detail-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
  }

  .pet-headshot {
    height: 14em;
    width: 14em;
  }

  .pet-details {
    margin: 1em 0em 1em 0em;
    padding: 1em;
    width: 17em;
  }
}
