/* .cart-body {
  background-color: #5c9ead;
} */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* background-color: #5c9ead; */
}

.breadcrumb-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-button {
  text-align: center;
  max-width: 8em;
  width: 3em;
}

.clear-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5c9ead;
}
