.App {
  text-align: center;
}

.link-style {
  color: #5f464b;
  text-decoration: none;
}

/* heading */
.main-header {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2.5em;
}

/* nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

nav li {
  background-color: #5c9ead;
  border: 2px solid black;
  border-radius: 0.2em;
  padding: 0.5em;
}

nav li:hover {
  background-color: #2f6690;
  cursor: pointer;
} */

#dev-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2f6690;
  color: #e8eddf;
  cursor: pointer;
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

/* Mobile Devices */
@media (max-device-width: 414px) and (min-device-width: 320px) {
  /* .App {
    width: 16em;
  } */

  .main-header {
    font-size: 1.2em;
  }

  .detail-body {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    padding: 0.5em;
  }
}

/* Tablets, iPads, and Kindles */
/* @media (max-device-width: 1024px) and (min-device-width: 415px) {
} */

/* Large Monitors */
/* @media (min-device-width: 1025px) {
} */
