.App {
  text-align: center;
}

/* heading */
.main-header {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2.5em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

nav li {
  background-color: #5c9ead;
  border: 2px solid black;
  border-radius: 0.2em;
  padding: 0.5em;
}

nav li:hover {
  background-color: #2f6690;
  cursor: pointer;
}

.cart-display {
  text-align: center;
  width: 3em;
}

/* Main page content */
.pet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: gray;
  background-color: #5c9ead;
}

.pet-item {
  display: flex;
  flex-direction: column;
  background-color: #f4f1de;
  border: 2px outset #6a8d92;
  margin: 1em;
  padding-bottom: 4.5em;
}

.pet-item img {
  border: 2px inset #6a8d92;
  height: 18em;
  width: 18em;
  margin: 0em 1em 0em 1em;
}

.pet-name {
  color: #5f464b;
  font-family: "Shadows Into Light", cursive;
  font-size: 1em;
  margin: 0em;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-style {
  display: flex;
  justify-content: center;
  background-color: #2f6690;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  margin: 0em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  max-width: 10em;
}
